@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #565656;
    color: white;
    font-family: "Lato", sans-serif;
}

header{
    background-color: #50514f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
}

main{
    margin-top: 10px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#droite{
    border-left : 1px solid white;
    padding:10px;
}

footer{
    height: 100vh;
    background-color: #50514f;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
