@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;;
}

body{
    background: url(../img/fond.jpg) no-repeat center center fixed ;
    background-size: cover;
    color: rgb(7, 17, 17);
}

h1{
    background-color: rgba(63, 104, 124,0.9);
    color: rgb(203, 202, 197);
    margin: auto;
    padding: 20px;
    text-align: center;
    font-weight: 800;

}

a{
    text-decoration: none;
    color: rgb(7, 17, 17);
}

a:visited{
    color: rgb(7, 17, 17);
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: rgba(63, 104, 124,0.9) solid 1px;
}

ul li{
    font-size: 1.3em;
    padding : 5px;
}

ul li:hover{
    background-color: rgb(158, 179, 205);
}

nav{
    background-color: rgba(158, 179, 205,0.8);
}

p{
    background-color: rgba(158, 179, 205,0.7);
    padding : 10px;
}

table{
    width: 80%;
    margin:auto;
    background-color: rgb(13, 35, 42);
    color: rgb(203, 202, 197);
    padding: 15px;
}

th{
    background-color: rgb(63, 104, 124);
}