@layer base{
  :root{
    --color-primary: Peru;
    --color-secondary: SkyBlue;
    --color-tertiary: white;
    --bgcolor-primary: #ced9dd;
    --image-w: 300px;
    --font-size: 20rem;
  }
  body{
    background-color: var(--bgcolor-primary);
  }
  .bird{
    width: var(--image-w);
  }

  h1, .h1,
  h2, .h2,
  h3, .h3{
    color: var(--color-primary);
  }

  .wrapper.header{
    background-color: var(--color-secondary);
    width: 100%;
  }
  .header{
    &.container{
      height: 350px;
    }
    &.h1{ font-size: var(--font-size);}
  }

  ul.nav{
    list-style: none;
    & li {
      display: inline;
    }
  }
}

@layer fonts{
 body{
  font-family: "Helvetica", Arial, sans-serif;
 }
  h1, .h1,
  h2, .h2,
  h3, .h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-tertiary)
  }

}

/* 
priorité de chargement des layers en css 
------------------------------------------*/
@layer base, fonts;