@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


* {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

body{
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Open Sans" ;
    color: rgb(255, 255, 255);
}


h1{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom:5px;
    font-size: 2.6em;
    border-bottom : 3px solid white;
    width: 80%;
    margin : auto;
}

nav ol{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 10px;
    /* background-image: -webkit-linear-gradient(top, #222629, #79848a);
    background-image: -moz-linear-gradient(top, #222629, #79848a);
    background-image: -ms-linear-gradient(top, #222629, #79848a);
    background-image: -o-linear-gradient(top, #222629, #79848a);
    background-image: linear-gradient(to bottom, #222629, #79848a);
    border-radius: 30px; */
}

ol li{
    //background: #222629;
    /* background-image: -webkit-linear-gradient(top, #222629, #79848a);
    background-image: -moz-linear-gradient(top, #222629, #79848a);
    background-image: -ms-linear-gradient(top, #222629, #79848a);
    background-image: -o-linear-gradient(top, #222629, #79848a);
    background-image: linear-gradient(to bottom, #222629, #79848a); */
   /*  -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 30px; */
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 15%;
    line-height: 2;
}

ol li:hover{
    color: yellow;
    text-decoration: none;
}

a:visited{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:antiquewhite;
}

section{
    padding:10px;
    margin:auto;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

p{
    font-family: "Baskervville SC";
}






/* #container{
    background-color: rgba(255, 255, 255,0.8);
    width: 80%;
    margin: auto;
} */
/* caption{
    visibility: hidden;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

thead{
    background-color: rgb(43, 61, 65);
    color: white;
    line-height: 5;
} */